<document title="Oyster Web Server" extract_time="2008-02-19 08:14:36" source="./script/server.pl" path="script/" index="5.10" depth="../">
    <synopsis>
        A simple, quick and dirty, web server that can (and should only!) be used to deploy quick development environments.
    </synopsis>
    <section title="Command Line Arguments">
        <dl>
            <dt>-site (optional)</dt>
            <dd>Specifies a particular site ID to use</dd>
            <dt>-env (optional)</dt>
            <dd>Specifies a particular configuration environment to use</dd>
            <dt>-host (optional)</dt>
            <dd>Specifies an ip address or host to bind to, defaults to to 127.0.0.1</dd>
            <dt>-port (optional)</dt>
            <dd>Specifies a port to bind to, defaults to 80</dd>
        </dl>
        <p>
            Host and port can alternatively be passed as a single string, without a name.  For example:
            <code type="conf">
                perl script/server.pl 192.168.1.100:82
            </code>
            <code type="conf">
                perl script/server.pl 192.168.1.100
            </code>
            <code type="conf">
                perl script/server.pl 82
            </code>
        </p>
        <note>
            Each time server.pl runs it saves its configuration and will automatically re-use its last configuration if host and port are not specified.
        </note>
    </section>
</document>
