<document title="Configuration Functions" extract_time="2008-02-19 08:11:16" source="./lib/config.pm">
    <synopsis>
        Functions for reading configuration options -- mostly used internally.
    </synopsis>
    <function name="load">
        <synopsis>
            Loads configuration options from the database
        </synopsis>
        <note>
            Modules should rarely need to call this function, Oyster automatically
            takes care of loading module configuration data.
        </note>
        <note>
            If a table name and hashref are absent, they are automatically assumed
            from the caller.  If "foo" called "config::load()", the table would
            default to site_db_prefix_foo_config and the configuration data would be
            stored in %foo::config
        </note>
        <prototype>
            config::load([table => string config_table_name][, config_hash => hashref config_hash]);
        </prototype>
    </function>
</document>
